<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xray Analyzer</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">      
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Chest X-ray Analyzer For Pneumonia Detection</a>
        </div>
    </nav>
    <div class="container">
        <div id="content" style="margin-top:2em">{% block content %}{% endblock %}</div>
    </div>
</body>

<footer>
    <div class="foot">
    <p>UNDER DEVELOPMENT NOT YET DEPLOYED FOR PUBLIC USE</p>
    <p>POSITIVE MEANS NORMAL AND NEGATIVE MEANS PNEUMONIA DETECTED</p>    
    <p>This is an app designed to analyze a chest x-ray and predict whether a person has TB/pneumonia or not</p>
    <p>This is web app is built by krishna and prathamesh</p>    
    
    <ul>    
        <li><a href="https://lhncbc.nlm.nih.gov/publication/pub9931">krishna</a></li>
        <li><a href="https://lhncbc.nlm.nih.gov/publication/pub9931">prathamesh</a></li>
    </ul>
    
    <p>Training the best model to fit</p>
    <b>linkedin <a href="https://www.linkedin.com/in/krishna-more-a886ba1a9/">Krishna More</a></b>
    <b>Developed By <a href="https://github.com/krishnaaxo">Krishna More</a></b>
    </div>
</footer>

</html>
